@charset "UTF-8";
/*-----variables Theme n°1-------------------------*/
/*-----variables Theme n°2-------------------------*/
/*
## Colors

### Theme 1

#### Backgrounds

- Very dark desaturated blue (main background): hsl(222, 26%, 31%)
- Very dark desaturated blue (toggle background, keypad background): hsl(223, 31%, 20%)
- Very dark desaturated blue (screen background): hsl(224, 36%, 15%)

#### Keys

- Desaturated dark blue (key background): hsl(225, 21%, 49%)
- Desaturated dark blue (key shadow): hsl(224, 28%, 35%)

- Red (key background, toggle): hsl(6, 63%, 50%)
- Dark red (key shadow): hsl(6, 70%, 34%)

- Light grayish orange (key background): hsl(30, 25%, 89%)
- Grayish orange (key shadow): hsl(28, 16%, 65%)

#### Text

- Very dark grayish blue: hsl(221, 14%, 31%)
- White: hsl(0, 0%, 100%)

### Theme 2

#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%)

### Theme 3

#### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%)

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: hsl(222, 26%, 31%);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  height: 100vh;
}

main {
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 10px;
}

section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.header .logo {
  margin-left: 7px;
  margin-bottom: 3px;
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  align-self: self-end;
}
section.header .theme-switcher legend {
  transform: translate(-75px, 36px);
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  letter-spacing: 1px;
}
section.header .theme-switcher fieldset {
  text-align: center;
  border: none;
  padding: 0;
}
section.header .theme-switcher .labels {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
section.header .theme-switcher fieldset > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.header .theme-switcher .toggle {
  width: 71px;
  height: 26px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(224, 36%, 15%);
  border-radius: 13px;
}
section.header .theme-switcher input {
  width: 15px;
  height: 15px;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  /*Cambiar esto*/
}
section.header .theme-switcher input:first-of-type {
  background-color: hsl(6, 63%, 50%);
}
section.header .theme-switcher label {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
}

section.result-output {
  margin: 2rem 0 1.5rem 0;
  padding: 1.8125rem 1.5rem 1.375rem 0;
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  text-align: right;
}

section.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a a a a" "a a a a" "a a a a" "a a a a" "b b c c";
  gap: 13px;
  padding: 1.5rem;
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
}
section.button-container button {
  width: 60px;
  height: 64px;
  background-color: hsl(30, 25%, 89%);
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px -4px 0px 0px hsl(28, 16%, 65%) inset;
  color: hsl(221, 14%, 31%);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  font-family: inherit;
}
section.button-container button.button-reset {
  grid-area: b;
  width: 100%;
}
section.button-container button.button-delete,
section.button-container button.button-reset {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px -4px 0px 0px hsl(224, 28%, 35%) inset;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}
section.button-container button.button-equal {
  grid-area: c;
  width: 100%;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px -4px 0px 0px hsl(6, 70%, 34%) inset;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}

/*# sourceMappingURL=styles.css.map */
