section.result-output {
    min-height: 88px;
    margin: 2rem 0 1.5rem 0;
    padding: 1.8125rem 1.5rem 1.375rem 0;
    background-color: $clr-bg-primary;
    border-radius: 10px;
    color: $clr-text-light;
    font-size: 2.5rem;
    text-align: right;

    @media screen and (width > 28rem) {
        padding: 2rem;
        min-height: 101px;
    }

    /*Los min-height se usaron para evitar que el elemento se achique cuando no se muestre
    ningún número en la pantalla */
}

