body {
    background-color: $clr-bg-body;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    height: 100vh;
}

main {
    width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 10px;
}
