body {
    display: grid;
    align-items: center;
    background-color: var(--clr-bg-body);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    height: 100vh;
}

main {
    width: 90%;
    min-width: 320px;
    max-width: 33.75rem;
    margin: 0 auto 0 auto;
}
